samples_pe:
    brain:
        forward: /home/share/raw_data/drer/rna_phylofish/SRR1524238_1.fastq.gz
        reverse: /home/share/raw_data/drer/rna_phylofish/SRR1524238_2.fastq.gz
        adaptor: ./src/Trimmomatic-0.33/adapters/TruSeq3-PE-2.fa
        phred:   phred33
        reads:   35368936
    gills:
        forward: /home/share/raw_data/drer/rna_phylofish/SRR1524239_1.fastq.gz
        reverse: /home/share/raw_data/drer/rna_phylofish/SRR1524239_2.fastq.gz
        adaptor: ./src/Trimmomatic-0.33/adapters/TruSeq3-PE-2.fa
        phred:   phred33
        reads:   54472116



reference:
    dna: ftp://ftp.ensembl.org/pub/release-82/fasta/danio_rerio/dna/Danio_rerio.GRCz10.dna_sm.toplevel.fa.gz
    cdna:   ftp://ftp.ensembl.org/pub/release-82/fasta/danio_rerio/cdna/Danio_rerio.GRCz10.cdna.all.fa.gz



random:
    seed: "42"

trimmomatic_params:
    SLIDINGWINDOW:4:5 LEADING:5 TRAILING:5 MINLEN:25 TOPHRED33

trinity_params:
    memory:     60G
    additional: "" #--normalize_reads

